<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Flask App</title>
    <script>
        elasticApm.init({
          serviceName: 'teste',
          serverUrl: 'http://localhost:8200',
        })
    </script>
</head>
<body>
    <header>
        <div>
            <h1>Hello World!</h1>
        </div>
    </header>
</body>
</html>